[submodule "sdev02"]
	path = sdev02
	url = git@github.com:jenyu7/sup.git
[submodule "sdev04"]
	path = sdev04
	url = git@github.com:jenyu7/04_flask.git
[submodule "sdev03"]
	path = sdev03
	url = git@github.com:sngo1/fantastic-giggle.git
[submodule "sdev05"]
	path = sdev05
	url = git@github.com:jenyu7/2JZ.git
