[submodule "sdev02"]
	path = sdev02
	url = git@github.com:jenyu7/sup.git
[submodule "sdev04"]
	path = sdev04
	url = git@github.com:jenyu7/04_flask.git
[submodule "sdev03"]
	path = sdev03
	url = git@github.com:sngo1/fantastic-giggle.git
[submodule "sdev05"]
	path = sdev05
	url = git@github.com:jenyu7/2JZ.git
[submodule "sdev06"]
	path = sdev06
	url = git@github.com:jenyu7/06_echo.git
[submodule "sdev07"]
	path = sdev07
	url = git@github.com:jennifer4569/animated-octo-invention.git
[submodule "sdev08"]
	path = sdev08
	url = git@github.com:kkysen/RedirectedLoginSession.git
