[submodule "sdev02"]
	path = sdev02
	url = git@github.com:jenyu7/sup.git
[submodule "sdev04"]
	path = sdev04
	url = git@github.com:jenyu7/04_flask.git
[submodule "sdev03"]
	path = sdev03
	url = git@github.com:sngo1/fantastic-giggle.git
[submodule "sdev05"]
	path = sdev05
	url = git@github.com:jenyu7/2JZ.git
[submodule "sdev06"]
	path = sdev06
	url = git@github.com:jenyu7/06_echo.git
[submodule "sdev07"]
	path = sdev07
	url = git@github.com:jennifer4569/animated-octo-invention.git
[submodule "sdev08"]
	path = sdev08
	url = git@github.com:kkysen/RedirectedLoginSession.git
[submodule "sdev09"]
	path = sdev09
	url = git@github.com:jenyu7/09_sqlite.git
[submodule "sdev10"]
	path = sdev10
	url = git@github.com:jenyu7/fuzzy-sniffle.git
[submodule "sdev11"]
	path = sdev11
	url = git@github.com:jenyu7/11_css.git
[submodule "sdev12"]
	path = sdev12
	url = git@github.com:EugeneThomas/BringBackTheHiddenLinks.git
[submodule "sdev13"]
	path = sdev13
	url = git@github.com:jenyu7/13_rest.git
[submodule "sdev15"]
	path = sdev15
	url = git@github.com:jenyu7/laughing-barnacle.git
[submodule "sdev16"]
	path = sdev16
	url = git@github.com:jenyu7/cuddly-umbrella.git
[submodule "sdev_proj00"]
	path = sdev_proj00
	url = git@github.com:jenyu7/aesop.git
